.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.btn {
  --btn-padding: 0.3em;
  all: unset;
  cursor: pointer;
  border-radius: 0.25em;
  padding: var(--btn-padding);
  display: grid;
  gap: var(--btn-padding);
  place-items: center;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  &:focus-visible {
    outline-offset: -2px;
    outline: 3px solid oklch(62.3% 0.214 259.815);
  }
}
