.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.btn {
  all: unset;
  cursor: pointer;
  border-radius: 0.2em;
  margin-block: -0.15em;
  padding: 0.3em;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  touch-action: manipulation;

  &:focus-visible {
    background-color: var(--color-fg-subtle);
  }
}
