.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.btn {
  all: unset;
  cursor: pointer;
  border-radius: 50%;
  padding: 1vmin;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  outline-offset: var(--focus-ring-offset-start);
  transition: var(--focus-ring-transition);

  &:focus-visible {
    outline: var(--focus-ring-outline);
    outline-offset: var(--focus-ring-offset);
  }
}
